/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-custom-blog-listing-custom-post-listing {
	background-color: #21759b;
	color: #fff;
	padding: 2px;
}

.blog-post-section {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 32px;
	padding: 0 32px;
}

.blog-list-container {
	display: flex;
    flex-direction: column;
	gap:20px;
	height: 100%;
	width: 100%;
    max-width: 384px;

    background: #F0FAFF;
	padding: 28px 24px;
}

.featured-image img {
    width: 100%;
    height: auto;
    max-height: 200px !important;
    position: relative;
    aspect-ratio: auto 288 / 195;
}

.blog-post-category a{
	font-family: 'Proxima';
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
	color: #11233A;
	text-decoration: none !important;

}
p.blog-post-category,
p.blog-post-title {
	margin: 0 !important;
}

.blog-post-title a {
	font-family: 'Proxima';
	font-size: 20px;
	font-weight: 500;
	line-height: 30px;

	color: #11233A;
	text-decoration: none !important;
}


// Search bar

.search-form {
	display: flex;
	align-items: center;
	gap: 8px;
  
}

form.search-form button {
	padding: 8px;
	border: none;
	background: none;
}
  
#search-container {
	max-width: 320px;
	width: 100%;
}
  
.search-form input#search-input {
	padding: 8px 12px;
	box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05) !important;
	border-radius: 8px !important;
	border: 1px solid #D0D5DD;
	background: #fff;
  
	width: 320px;
  
	color:#101828;
	font-family: "Proxima";
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	flex-basis: 100%;
}

.job-listing {
	display: flex;
	flex-direction: column;
}
.job-listing .jobs-content a {
	font-size: 16px;
	font-family: 'Helvetica';
    font-weight: bold;
	text-decoration: none;
	color: #0942B0;
}

.job-listing .jobs-content a:hover {
	text-decoration: underline;
}

.job-listing .jobs-content p {
	font-size: 13px;
	font-family: 'Helvetica';
	color: #757575;
    margin: 8px 0px;
}

@media (min-width: 1200px) and (max-width: 1344px) {
	.blog-list-container {
   		max-width: 100%;
		max-height: 450px;
	}
}


@media (min-width: 834px) and (max-width: 1200px) {
	.blog-list-container {
   		max-width: 100%;
		max-height: 450px;
	}
}

@media (min-width: 500px) and (max-width: 1024px) {
	.blog-post-section {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 500px) {
	.blog-listing {
		display: grid !important;
	}
	.blog-post-section {
		grid-template-columns: repeat(1, 1fr) !important;
	}
}
