/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-custom-blog-listing-custom-post-listing {
	background-color: #21759b;
	color: #fff;
	padding: 2px;
}

.blog-post-section {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 32px;
	padding: 0 32px;
}

.blog-list-container {
	display: flex;
    flex-direction: column;
	gap:20px;
	height: auto;
	max-height: 400px;
	width: 100%;
    max-width: 384px;

    background: #F0FAFF;
	padding: 28px 24px;
}

.featured-image img {
    width: 100%;
    height: auto;
    max-height: 200px !important;
    position: relative;
    aspect-ratio: auto 288 / 195;
}

.blog-post-category a{
	font-family: 'Proxima';
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
	color: #11233A;
	text-decoration: none !important;
	
}
p.blog-post-category, 
p.blog-post-title {
	margin: 0 !important;
}

.blog-post-title a {
	font-family: 'Proxima';
	font-size: 20px;
	font-weight: 500;
	line-height: 30px;

	color: #11233A;
	text-decoration: none !important;
}

@media (min-width: 1200px) and (max-width: 1344px) {
	.blog-list-container {
   		max-width: 336px;
		max-height: 450px;
	}
}


@media (min-width: 834px) and (max-width: 1200px) {
	.blog-list-container {
   		max-width: 336px;
		max-height: 450px;
	}

	.blog-post-section {
		justify-content: center;
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	.blog-post-section {
		display: grid;
		grid-template-columns: repeat(2, 1fr) 
	}
}

@media screen and (max-width: 768px) {
	.blog-post-section {
		justify-content: center;
	}
	.blog-list-container {
		max-width: 334px;
	}
	.blog-post-section {
		grid-template-columns: repeat(1, 1fr) !important;
	}
}